APP="blogpost_auth_service"
APP_VERSION="1.0.0"
ENVIRONMENT="development"

GRPC_PORT=":9002"

DEFAULT_OFFSET="0"
DEFAULT_LIMIT="10"

POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT="5432"
POSTGRES_DATABASE="auth_service_db"
POSTGRES_USER="auth_db_user"
POSTGRES_PASSWORD="auth_db_password"

SECRET_KEY="YourSecretKey"